@import "colors";

.home {
  [class*="col-"] {

    p {
      font-size: 20px;
      color: $a-light-color;
    }
  }
  img {
    margin: 10px;
  }
  .home-text {
      background: rgba(20, 20, 20, 0.7);
      padding: 2em;
      min-height: 120vh;
  }

  .list-group {
    clear: both;
    margin-top: 4em;
  }
  .list-group-item {
    background: inherit;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    background: rgba(20,20, 20, 0.6);
    border: rgba(20,20, 20, 1);
    a {
      color: $a-light-color;
      .glyphicon {
        color: lightsteelblue;
        font-size: 30px;
        margin-top: 10px;
      }
    }
  }
  .image-col {
    max-height: 70vh;
    overflow-y: hidden;
    filter: brightness(1.2) grayscale(40%);
  }
  h1 {
    font-family: 'Berkshire Swash', cursive;
    color: lightsteelblue;
    font-size: 100px;
  }
}

