@import "colors";

.metadata-label {
  display: block;
  padding: .75em;
  text-align: center;
  color: $a-light-color;
}
.category-label {
  text-transform: uppercase;
}
.signatures-label {
  background: $signatures-color;
}
.tour-label {

  background: $tour-color;
  text-transform: uppercase;
  a {
    color: $a-light-color;
  }
  cursor: pointer;

}
// Inside the nav thumbnail, a label is absolutely positioned
.nav-thumbnail .metadata-label {
  display: block;
  position: absolute;
  width: 83px;
  height: 20px;
  top: 100px;
  padding: 0;
}