@import "colors";

.home {
  .map-blocks {

  }
}
.map-blocks {
  width: $default-width;
  margin: auto;
  text-align:center;

  .map-block {
    display: inline-block;
    width: 13px;
    height: 20px;
    border: 1px solid $scan-bg;
    text-align: center;
    &.current-page {
      border: 2px solid $a-light-color;
  //  box-shadow: 0px 0px 2px 2px #fff;
    }
    .glyphicon {
      line-height: .5;
      font-size: .5em;
      top: 12px;
      left: -3px;
    }
  }

}