.nav-group, .quire {

  min-height: 95px;

  .nav-thumbnail {

    display: inline-block;
    border: 0;
    margin: 5px 0 5px 5px;

    button {
      height: 85px;
      width: 85px;
      filter: brightness(1.4) grayscale(100%);
      background-position: center center;
    }

    &.recto {
      border-left: 2px solid white;
      margin: 5px 5px 5px 0;
    }
    &.is-current button {
      filter: brightness(1.4) grayscale(0%);
    }
  }
}

.nav-group {
  position: relative;
  overflow-x: scroll;

  .btn-group {
    position: absolute;
    white-space: nowrap;
  }
}
