.nav-group, .quire {


  min-height: 150px;

  .nav-thumbnail {

    display: inline-block;
    border: 0;
    margin: 5px 0 5px 5px;
    a {
      display: inline-block;

    }
    button {
      height: 85px;
      width: 85px;
      filter: brightness(1.4) grayscale(100%);
      background-position: center center;
    }

    &.recto {
      border-left: 2px solid white;
      margin: 5px 5px 5px 0;
    }
    &.is-current button {
      filter: brightness(1.4) grayscale(0%);
    }
  }
}
.nav-strip-container {

  margin: 20px auto;
  width: $default-width;
  position: relative;
  background: inherit;

  .nav-group {
    position: relative;
    overflow-x: scroll;
    width: 80%;
    margin: auto;
    padding-top: 20px;


    background: radial-gradient(ellipse farthest-corner,
      lighten($scan-bg, 50%) 0%,
      lighten($scan-bg, 30%) 100%
      );

    box-shadow:  0 0 5px darken($scan-bg, 50%),
        0 0 5px darken($scan-bg, 5%),
        0 0 5px darken($scan-bg, 50%);


    .btn-group {
      position: absolute;
      white-space: nowrap;
    }

  }

  .nav-strip-button {
    position: absolute;
    display: inline-block;
    top: 0;

    button {
      height: 150px;
      background: inherit;
      border: none;
      font-size: 80px;
      color:$page-bg;
    }
    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }
}