.book-container {
  margin: 0 10px;
}

.book-pagination, .tour {

  .book-nav {
     color: oldlace;
     text-transform: uppercase;
     padding: 0 10%;
     display: inline-block;
     width: 100%;
     height: 3em;
   }
   .left {
     text-align: left;
   }
   .right {
     text-align: right;
   }
}

.reader-grid {
  .verso {
    padding-right: 10px;
  }
  .recto {
    padding-left: 10px;
  }
}