// The structure view
.structure {

  background: lighten($page-bg, 90%);
  padding: 0 5%;

  .structure-nav {
    position: fixed;
    right: 5%;
  }
  .row {
    border-bottom: 8px solid white;
  }
  .col-md-8 {
    background:linear-gradient(to right,
                            white 10%,
                            #F2F2F2 40%,
                            #E9E9E9 50%,
                            #F2F2F2 60%,
                            white 90%);
    padding-bottom: 10px;
  }


  .quire {
    text-align: center;
    margin-top: 130px;

    // The insertion
    .nav-thumbnail a {
      position: relative;
      display: inline-block;

      svg.insertion-line {
        position: absolute;
        left: 0;
        top: -50px;

        marker {
          fill: rgb(2,200,90);
        }
        line {
          stroke: rgb(2,200,90);
          stroke-width: 2px;
          marker-end: url(#triangle);

        }
      }
    }
  }
}
// The quire arcs
.jtk-connector, .jtk-endpoint {
  path {
    stroke: darkgray;
  }
}