@import "colors";

.tour-panel {
    position: absolute;
    z-index: 2;
    overflow-y: scroll;
    background: $a-light-color;
    line-height: 1.6em;
    color: $scan-bg;
    text-indent: 1em;
    border: 2px solid lighten($tour-color, 20%);
    width: 45%;

    &.recto {
      right: 20px;
      padding: 0 !important;

    }
    &.verso {
      left: 20px;
      padding: 0 !important;

    }
    .text {
      padding: 40px;
    }
    .tour-nav {
      background: radial-gradient(
      $tour-color 10%,
      darken($tour-color, 10%));
      color: $a-light-color;
      a {
        color: $a-light-color;
        text-transform: uppercase;
        font-size: smaller;
      }

      min-height: 4rem;
      .row {
        padding-top: 1rem;
        button {
          padding: 5px;
          margin-bottom: 5px;
        }
      }
    }
}