// Bootstrap sass overrides

$grid-gutter-width: 0px !default;

// Magic something something webpack
$bootstrap-sass-asset-helper: true;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$default-width: 80%;  // For everything but the container

$scan-bg: rgb(28,28,30);
$page-bg: rgb(207, 180, 147);
$red-color: rgb(159,71,	53);

@import "navgroup";
@import "tour";
@import "home";
@import "structure";
@import "reader";
@import "labels";

.navbar-inverse {
  padding: 0 5%;
  background: linear-gradient(to bottom,
    lighten($red-color, 5%) 0%,
    lighten($red-color, 0%) 80%,
    darken($red-color, 5%) 100%);

  a {
    color: oldlace !important;
  }
}
body {
  background: radial-gradient(ellipse farthest-corner,
    lighten($scan-bg, 20%) 0%,
    lighten($scan-bg, 5%) 100%
  );
  min-height: 100vh;
}


footer {
  height: 10vh;
  color: oldlace;
  padding: 20px;
  text-align: center;
  font-size: 15px;
}
