:root {
    --margin-width: 10vw;
    --margin-height: 5vw;
    --region-border: 2px;
    --accent-color: #cf8707;
    --dark-color: #25201a;
    --light-color:rgb(255, 253, 250);
}
html, body {
    padding: 0;
    margin: 0;
    background: var(--light-color);
    color: var(--dark-color);
    font-family: Roboto, sans-serif;
}
h1 {
    font-family: "Berkshire Swash", serif;
    font-weight: normal;
}
header {
    padding: 0 var(--margin-width);
    border-bottom: var(--region-border) solid var(--accent-color);
    background: var(--dark-color);
    color: var(--light-color);
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav li {
    list-style-type: none;
}
header nav ol {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
main {
    margin: var(--margin-height) var(--margin-width);
}
.opener {
    color: var(--dark-color);
    background: none;
}
.opener:before {
    content: "↓ "
}
spread-navigator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    min-height: 4rem;
    margin-top: 4rem;
}
spread-navigator button[data-opener] {
    position: absolute;
    top: -4rem;
}
spread-viewer div {
    display: flex;
    align-items: center;
    width: 100%;
}
button {
    background: var(--accent-color);
    color: var(--light-color);
    border: 0;
    padding: 10px;
    min-width: 75px;
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
}
img:not([src]) {
    visibility: hidden;
}
.hide {
    display: none;
}
@font-face {
    font-family: "Berkshire Swash";
    src: url("fonts/BerkshireSwash-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}