@import "colors";

.about {
  padding: 2% 5% 10% 5%;
  background: oldlace;
  border-radius: 20px;
  h1 {
    font-family: 'Berkshire Swash', cursive;
  	color: rgb(56,56,56);
  	border-bottom: 2px double $homepage-accent;
  }
  h2, h3, h4, h5 {
  	color: rgb(56,56,56);
  }
  p {
    font-size: 20px;
    color: $tour-color;
    font-family: Times New Roman, serif;
  }
  .indent{
  	margin-left: 30px;
  }
  .accent{
  	color: $homepage-accent;
  }
  img{
  	margin:auto;
  	display:block;
  }
}
