@import "colors";

.loader {
  background: transparent !important;
  h1 {
    font-family: 'Berkshire Swash', cursive !important;
    color: $a-light-color;
    font-size: 60px;
    text-align: center;
    padding-bottom: 400px;
  }
}

