@import "colors";

.tour-panel {
    position: absolute;
    z-index: 2;
    overflow-y: scroll;
    background: $a-light-color;
    line-height: 1.3em;
    color: $scan-bg;
    text-indent: 1em;
    width: 45%;
    opacity: .9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: Times New Roman;
    font-size: 1.4em;

    &.recto {
      right: 20px;
      padding: 0 !important;

    }
    &.verso {
      left: 20px;
      padding: 0 !important;

    }
    .text {
      padding: 0px 40px 0px 40px;
    }
    .tour-exit{
    	text-align: right;
    }
    .tour-nav {
	  background: $a-light-color;
      color: $tour-color;
      text-align: center;
      font-family: Helvetica;
      a {
        color: $faded;
        cursor: pointer;
        text-transform: uppercase;
		font-size: smaller;
      }
	
      min-height: 4rem;
      .row {
        padding-top: 1rem;
        button {
          padding: 5px;
          margin-bottom: 5px;
        }      
      }
    }
}