// Bootstrap sass overrides

$grid-gutter-width: 0px !default;

$default-width: 95%;  // For everything but the container

@import "colors";
@import "navgroup";
@import "tour";
@import "home";
@import "structure";
@import "reader";
@import "page";
@import "labels";
@import "loader";
@import "map";
@import "about";

.row {
  margin: 0 !important;
}
.navbar-inverse {
  padding: 0 5%;
  a {
//    color: oldlace !important;

  }
  .navbar-header li {
    list-style: none;
  }
  .navbar-brand {
    font-family: 'Berkshire Swash', cursive !important;
    font-size: 30px;
    a {
        color: oldlace !important;

    }
  }
}
body {
  background: radial-gradient(ellipse farthest-corner,
    lighten($scan-bg, 20%) 0%,
    lighten($scan-bg, 5%) 100%
  );
  min-height: 100vh;
}


footer {
  height: 10vh;
  color: $a-light-color;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  a {
    color: $a-light-color !important;
    text-decoration: underline;
  }
}

button.close-modal {
  background: black;
  color: $a-light-color;
  border: $a-light-color;

}