body {
    background: radial-gradient(ellipse farthest-corner, #333 0, #0d0d0d 100%);
    min-height: 100vh;
}
.row {
    margin: 0 !important;
}
.container {
    padding: 0;
    width: 100%;
}
p {
    font-size: 20px;
    color: oldlace;
}
h1 {
    font-family: 'Berkshire Swash', cursive;
    color: oldlace;
}
p {
    font-family: 'EB Garamond', serif;
}
h2 {
    color: #8ea667;
    margin-left: 20px;
}
h3,
h4,
h5 {
    color: rgb(56, 56, 56);
}

footer {
    height: 10vh;
    color: oldlace;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
a,
a:visited {
    color: #8a857d !important;
}
footer a {
    text-decoration: underline;
    color: oldlace !important;
}

button.close-modal {
    background: black;
    color: oldlace;
    border: oldlace;
}

.metadata-label {
    display: block;
    padding: 0.1em;
    text-align: left;
    color: oldlace;
}

.category-label {
    text-transform: uppercase;
    color: black;
    text-align: center;
}
.signatures-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(138, 133, 125);
    text-align: center;
}
.description-label {
    font-style: italic;
    text-align: left;
}
.tour-label {
    text-transform: uppercase;
    text-align: center;
}
.tour-label a {
    cursor: pointer;
}
.navbar-header {
    margin-left: 80px !important;
}
.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    display: inline-block;
}
.navbar-brand a {
    color: oldlace !important;
}
.navbar-brand img {
    height: 1em;
}
