.pageZoom {
    position: absolute;

    z-index: 99;
    background: black;
    border: 1px solid rgb(63, 60, 60);
    width: 90vw;
    margin: 0 auto;
    height: 90vh;
}

.well {
    margin: 0;
    background: rgb(125, 120, 120);
    border: 1px solid rgb(63, 60, 60);
}
.pageZoom label {
    text-align: center;
    color: oldlace;
    margin: auto;
    display: block;
}

.pageZoom button {
    margin-left: 2em;
    background: rgb(150, 63, 57);
    color: oldlace;
}

.imgContainer {
    overflow: auto;
    width: 100%;
    height: 90vh;
}
.pageZoom img {
    position: relative;
    display: block;
    margin: 0 auto;
}
