.navThumbnail {
    display: inline-block;
    border: 0;
    margin: 5px 0 5px 5px;
}
.navThumbnail a {
    display: inline-block;
}
.navThumbnail button {
    height: 85px;
    width: 85px;
    filter: brightness(1.4) grayscale(100%);
    background-position: center center;
}
.recto {
    border-left: 2px solid white;
    margin: 5px 5px 5px 0;
}
.isCurrent a button {
    filter: brightness(1.4) grayscale(0%);
}
.thumbnailImage {
    /* Reset for Bootstrap button style */
    opacity: 1;
}

.hasTour {
    display: block;
    position: absolute;
    width: 83px;
    height: 20px;
    top: 100px;
    padding: 0;
}
.hasTour .bookmark {
    padding-top: 5px;
    display: inline-block;
}
