@import "colors";

.home {
  [class*="col-"] {
    p {
      font-size: 20px;
      color: $a-light-color;
      margin-left: 25px;
    }
  }
  img {
    margin: 10px;
    filter: brightness(1.5) grayscale(40%);
    padding: 15px;
    &.img-circle {
      border-top: 1px dashed $signatures-color;
      border-bottom: 1px dashed $signatures-color;
    }
  }
  .home-text {
	  color: $tour-color;
      padding: 2em;
      min-height: 120vh;
      border-radius: 20px;	
  }

  .list-group {
    clear: both;
    margin-top: 4em;


  }
  .list-group-item {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    background: $homepage-accent;
    border: 0px;
    a {
      color: $tour-color;

      .glyphicon {
        color: oldlace;
        font-size: 30px;
        position: relative;
        top: 10px;
        padding-right: 20px;
        margin-bottom: .5em;
      }
    }
  }

  h1 {
    font-family: 'Berkshire Swash', cursive;
    border-bottom: 2px double $homepage-accent;
    font-size: 80px;
    color: $a-light-color;
  }
  h2{
	color: $homepage-accent;
	margin-left: 20px;
  }
}

