@import "colors";

.metadata-label {
  display: block;
  padding: .1em;
  text-align: left;
  color: $a-light-color;
}
.category-label {
  text-transform: uppercase;
  color: $tour-color;
  text-align: center;
}
.signatures-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $faded;
  text-align: center;
}
.description-label {
  font-style: italic;
  
}
.tour-label {
  text-transform: uppercase;
  text-align: center;
  a {
  }
  cursor: pointer;

}
// Inside the nav thumbnail, a label is absolutely positioned
.nav-thumbnail .metadata-label {
  display: block;
  position: absolute;
  width: 83px;
  height: 20px;
  top: 100px;
  padding: 0;
}