.nav-group, .quire {


  min-height: 125px;

  .nav-thumbnail {

    display: inline-block;
    border: 0;
    margin: 5px 0 5px 5px;
    a {
      display: inline-block;

    }
    button {
      height: 85px;
      width: 85px;
      filter: brightness(1.4) grayscale(100%);
      background-position: center center;
    }

    &.recto {
      border-left: 2px solid white;
      margin: 5px 5px 5px 0;
    }
    &.is-current button {
      filter: brightness(1.4) grayscale(0%);
    }
  }
}
.nav-strip-container {

  margin: 20px auto;
  width: $default-width;
  position: relative;
  background: inherit;

  .nav-group {
    position: relative;
    overflow-x: scroll;
    margin: auto;

    .btn-group {
      position: absolute;
      white-space: nowrap;
    }

  }

  .nav-strip-button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 0;
    width: 150px;
    .button {
      border: none;
      font-size: 80px;
      color:$a-light-color;
      padding: 0;
      margin: 0;

    }
    &.next {

      right: 0;
      z-index: 1;

      .button {
        text-align: right;
        display: inline-block;
        padding-right: 10px;
        width: 100%;
        background: linear-gradient(to right,
         rgba(255,255,255,0),
         rgba($scan-bg,.8) 40%,
         rgba($scan-bg,1) 80%);
      }
    }
    &.prev {
      left: 0;
      z-index: 1;
      .button {
        text-align: left;
        width: 100%;
        display: inline-block;
        padding-left: 10px;

        background: linear-gradient(to left,
        rgba(255,255,255,0),
        rgba($scan-bg,.8) 40%,
        rgba($scan-bg,1) 80%);
      }
    }
  }
}